%li.order_line
  .order-info
    %a{:href => "#{@@shop_url + '/orders/' + order.id.to_s}"}
      %span.pull-left.label.label-info= "Order "+ order.name
      -if order.fulfillment_status
        %span.pull-right.label.label-success= "Fulfilled"
      -else
        %span.pull-right.label.label-warning= "Unfulfilled"

  - order.line_items.each do |item|
    .item
      %h5= item.title
      %span= "Quantity: "+ item.quantity.to_s
      %span= "Price: $" +item.price.to_s
  %h4.total
    %a{:href => "#{@@shop_url + '/orders/' + order.id.to_s}"}
      ="$" + order.total_price.to_s
